APP_NAME=Go.Fiber.Template
IS_LOGGER=true

DB_HOST=postgres
DB_USER=postgres
DB_PASS=<your password>
DB_NAME=<your database name>
DB_PORT=5432

NGINX_PORT=80
GOLANG_PORT=8888
APP_ENV=localhost
JWT_SECRET=<your secret key>

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SENDER_NAME="Go.Fiber.Template <no-reply@testing.com>"
SMTP_AUTH_EMAIL=<your email>
SMTP_AUTH_PASSWORD=<your password>

# Kafka Configuration
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=go-Fiber-clean-starter
KAFKA_TOPICS=user-events,auth-events
KAFKA_BATCH_SIZE=10
KAFKA_BATCH_TIMEOUT=1s
KAFKA_ASYNC=false
KAFKA_MIN_BYTES=10
KAFKA_MAX_BYTES=10
KAFKA_MAX_WAIT=1s
KAFKA_READ_BATCH_TIMEOUT=10s

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
